header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

body { 
    margin-left: 5%;
    margin-right: 5%;
}

.basic-grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: 1fr;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    border: 3px solid cyan;
    border-radius: 3px;

    box-shadow: grey 0px 0.15rem 0.5rem;
}

.selected-card {
    border: 3px solid blue;
}

.opt-button {
    height: 2rem;
    border: 2px solid cyan;
    border-radius: 5px;
    background: none;
}

.selected-button {
    border: 2px solid blue;
}

.opt-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5rem;
}

.form-div input {
    margin-bottom: 2rem;
}
